[auth]
scope = https://spreadsheets.google.com/feeds
key_file = Google-key.json

[core]
spreadsheets =
    testsheet
    testsheet2

[doc:testsheet]
key = 1hl1hGJfiA_bAnBswk1BGbK4NzVQAAQffDnmk13RktR6pHI
file = sample.csv

[doc:testsheet2]
key = test
file = test
